<a href="https://colab.research.google.com/github/pablo-lazo/DataAnalystChallenge/blob/main/DataAnalystChallenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Descripción de base de datos:
Todos los datos han sido generados de manera aleatoria pero manteniendo cierta cercanía (de manera muy simplificada) con la estructura de bases de datos.

Una cuenta es la entidad mayor que puede tener un cliente, esta cuenta puede tener asociadas una o varias suscripciones, la suscripción es lo que paga el cliente. Una cuenta también puede tener uno o varios usuarios los cuales a su vez pueden tener uno o varios dispositivos asociados. Los dispositivos son los equipos móviles que protegen los clientes.

##Tabla **subscriptions:**

Esta es una empresa SaaS, por lo que nuestro modelo se basa en suscripciones. Esta tabla ejemplifica algunos datos de una suscripción:

**id:** El id de una suscripción.

**customer_id:** El id de un usuario.

**plan:** El tipo de plan que podría comprar un usuario, con su intervalo de pago.

**plan_quantity:** La cantidad de dispositivos que los usuarios están pagando para proteger.


**plan_unit_price:** El valor de un dispositivo en USD.

**plan_amount:** El valor total que paga un cliente por período de facturación en USD.

**billing_period:** La frecuencia del período de pago.

**billing_period_unit:** La unidad del período de pago.

**status:** El estado de una suscripción.

**created_at:** La fecha de creación de la suscripción.

**cancelled_at:** La fecha de cancelación de una suscripción, si es que ya no está activa.

**mrr:** El Monthly Recurrent Revenue de una suscripción (el pago según período normalizado a meses).


##Tabla **accounts**:

Esta tabla sirve como tabla intermedia para ver el id de una cuenta a través del id de un cliente.

**account_id:** El id de la cuenta.

**customer_id:** El id de un cliente (asociado a una suscripción).

##Tabla **users**:

Una cuenta puede tener varios usuarios asociados. Aquí podemos ver a qué país pertenece un usuario, cuando fue creado y si está activo o no.

**id:** Id del usuario.

**created_at:** Fecha de creación del usuario.

**country_name:** País al que pertenece el usuario.

**state:** Estado del usuario.

**account_id:** Id de la cuenta a la que pertenece el usuario.

##Tabla **devices**:

Esta tabla muestra información sobre los dispositivos que una cuenta tiene asociados, esta asociación va por usuarios.

**id:** El id del dispositivo.

**user_id:** El id del usuario al que está asociado ese dispositivo.

**created_at:** La fecha en la que se asoció el dispositivo a la cuenta.

**type:** El tipo de dispositivo.

**os:** El sistema operativo del dispositivo.

**state:** El estado en el que se encuentra el dispositivo en relación a la cuenta. El estado missing corresponde a dispositivos que se marcaron como perdidos en el software.

# CODIGO

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.colab import drive
from google.colab import files
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [8]:
data_dir = "/content/gdrive/MyDrive/Colab Notebooks/DataAnalystChallenge/data"
styles_dir = "/content/gdrive/MyDrive/Colab Notebooks/DataAnalystChallenge/mplstyles"
graphs_dir = "/content/gdrive/MyDrive/Colab Notebooks/DataAnalystChallenge/graphs"
plt.style.use(f"{styles_dir}/portfolio.mplstyle")

In [10]:
subs = pd.read_csv(f"{data_dir}/subscriptions.csv", parse_dates=["created_at", "cancelled_at"])
subs

      Unnamed: 0          id  ...        cancelled_at     mrr
0              0  432b3039f9  ...                 NaT  1620.0
1              1  69357f2a75  ...                 NaT   450.0
2              2  f609532873  ...                 NaT   450.0
3              3  84f5f0ca99  ... 2019-01-22 17:10:20     0.0
4              4  cc827d512c  ... 2020-04-27 13:29:02     0.0
...          ...         ...  ...                 ...     ...
1919        1919  bc0ffa784a  ... 2020-02-25 02:21:35     0.0
1920        1920  0066bc4dfa  ... 2020-07-30 16:48:29     0.0
1921        1921  9e9a4e9bcc  ...                 NaT   450.0
1922        1922  4e9c8759a2  ...                 NaT     0.0
1923        1923  cb3963e566  ...                 NaT   500.0

[1924 rows x 13 columns]